/*
* Scrollshow Theme - Optional
*/
body {
    #scrollshow {
        &>.overlay {
            background-color: black;
            opacity: 0.5;
        }
        &>.item {
            &.active {
            }
            //Letters
            &>*:first-child {
                &>.word {
                    .letter {
                        //Unread / Inactive letter properties
                        color: lightgrey;
                        &.active {
                            //Read / Active letter properties
                            color: black;
                        }
                    }
                }
            }
            &.first-letter-active {
                &>*:first-child {
                    &>.word {
                        &:first-child {
                            .letter {
                                &:first-child {
                                    //Properties of the very first letter of the item text to scroll
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }

        &>.navigation {
            //Progress bar
            &>.progress {
                background-color: black;
                border-radius: 4px;
            }
            //Item
            &>a {
                background-color: transparent;
                border: 2px solid black;
                //Fill effect
                &:after {
                    background-color: black;
                }
                &:last-child {
                }
                &:first-child {
                    background-color: black;
                }

                //Read item
                &.active {
                    &:after {
                    }
                }
            }
        }
    }
}
