@import 'components/quikster';
@import 'components/fonts';
@import 'components/links';
/*
* Scrollshow Theme - Optional
*/
body {
    background: linear-gradient(to bottom, qtr-color(2), qtr-color(-2));
    color: qtr-color(6);
    -webkit-font-smoothing: antialiased;
    #scrollshow {
        &>.intro {
            transition: all 800ms;
            &>header {
                max-width: 800px;
                margin: auto;
                h1 {
                    margin: 0px auto 1em auto;
                    padding: 0em 1em;
                    line-height: 1.0em;
                    text-shadow: 4px 0px 5px rgba(qtr-color(-6),.5);
                    .word {
                        .letter {
                            transition: all 2000ms;
                            position: relative;
                            margin-left: -0.10em;
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }
                .description {

                }
            }
            &.active {
                &>header {
                    h1 {
                        .letter {
                            // margin-left: -0.15em;
                        }
                    }
                }
            }
        }
        &>.overlay {
            opacity: 1;
            background: radial-gradient(ellipse at top, transparent, qtr-color(-5));
        }
        &>.item {
            transform: translateY(-75%);
            h2 {
                padding: 0em 1em;
            }
            p {
                line-height: 1.6em;
                max-width: 50ch;
                margin: auto;
                padding: 0em 2em;
                &+p {
                    margin-top: 2em;
                }
            }
            &.active {
                transform: translateY(-50%);
            }
            //Letters
            &>*:first-child {
                line-height: 1.3em;
                &>.word {
                    .letter {
                        //Unread / Inactive letter properties
                        opacity: 0.02;
                        color: qtr-color(6);
                        margin-left: -0.10em;
                        transition: all 200ms;
                        position: relative;
                        text-shadow: 5px 1px 8px rgba(qtr-color(-6),.5);
                        &.active {
                            //Read / Active letter properties
                            color: qtr-color(6);
                            opacity: 1;
                        }
                        &.current {
                            @keyframes cursor {
                                0% { opacity: 0; }
                                100% { opacity: 1; }
                            }
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                width: 2px;
                                height: 100%;
                                background-color: qtr-color(6);
                                animation-name: cursor;
                                animation-duration: 600ms;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                            }

                        }
                    }
                    &:last-child {
                        display: block;
                        .letter {
                            //Unread / Inactive letter properties
                            opacity: 0.1;
                            margin-left: 0em;
                            font-size: qtr-font-size(2);
                            &.active {
                                //Read / Active letter properties
                                opacity: 1;
                            }
                            &.current {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            //Very first item, make first letter active
            &:first-child {
                .word {
                    &:first-child {
                        .letter {
                            &:first-child {
                                color: qtr-color(6);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        //Progress bar
        &>.progress-bar {
            background-color: qtr-color(6);
        }
    }
}
