@import 'components/quikster';
@import 'components/fonts';
@import 'components/links';
/*
* Scrollshow Theme - Optional
*/
body {
    background: linear-gradient(to bottom, qtr-color(2), qtr-color(-2));
    color: qtr-color(6);
    -webkit-font-smoothing: antialiased;
    #scrollshow {
        &>.intro {
            transition: all 800ms;
            &>header {
                h1 {
                    max-width: 800px;
                    margin: auto;
                    padding: 0em 1em;
                    text-shadow: 1px 1px 5px rgba(qtr-color(-6),.5);
                    .letter {
                        transition: all 2000ms;
                        position: relative;
                        margin-left: 0em;
                    }
                }
            }
            &.active {
                &>header {
                    h1 {
                        .letter {
                            margin-left: -0.15em;
                        }
                    }
                }
            }
        }
        &>.overlay {
            opacity: 1;
            background: radial-gradient(ellipse at top, transparent, qtr-color(-5));
        }
        &>.item {
            transform: translateY(-75%);
            h2 {
                padding: 0em 1em;
            }
            p {
                line-height: 1.6em;
                max-width: 50ch;
                margin: auto;
                padding: 0em 2em;
                &+p {
                    margin-top: 2em;
                }
            }
            &.active {
                transform: translateY(-50%);
            }
            //Letters
            &>*:first-child {
                &>.word {
                    .letter {
                        //Unread / Inactive letter properties
                        opacity: 0.02;
                        color: qtr-color(6);
                        margin-left: -0.10em;
                        transition: all 200ms;
                        position: relative;
                        text-shadow: 5px 1px 8px rgba(qtr-color(-6),.5);
                        &.active {
                            //Read / Active letter properties
                            color: qtr-color(6);
                            opacity: 1;
                        }
                        &.current {
                            @keyframes cursor {
                                0% { opacity: 0; }
                                100% { opacity: 1; }
                            }
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                width: 2px;
                                height: 100%;
                                background-color: qtr-color(6);
                                animation-name: cursor;
                                animation-duration: 600ms;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                            }

                        }
                    }
                }
            }
        }
        //Progress bar
        &>.progress-bar {
            background-color: qtr-color(6);
        }

        //Navigation: Includes bullets links + progress
        &>.navigation {
            //Progress bar
            &>.progress {
                background-color: qtr-color(6);
                border-radius: 4px;
            }
            //Item
            &>a {
                background-color: transparent;
                border: 2px solid qtr-color(6);
                border-radius: 100%;
                //Fill effect
                &:after {
                    background-color: qtr-color(6);
                }
                &:last-child {
                }
                &:first-child {
                    background-color: qtr-color(6);
                }

                //Read item
                &.active {
                    &:after {
                    }
                }
            }
        }
    }
}
