/*
* Scrollshow core SCSS - Required
*/
body {
    //Make scrollbars always visible to avoid ugly content move on init
    overflow-y: scroll;
    //Loader fallback waiting Scrollio to be loaded
    &:before {
        @keyframes loader {
            0% { transform: rotate(0deg) }
            100% { transform: rotate(360deg) }
        }
        content: '';
        display: block;
        position: fixed;
        width: 20vmin;
        height: 20vmin;
        top: calc(50% - 10vmin);
        left: calc(50% - 10vmin);
        border-style: dashed;
        border-width: 3px;
        border-color: currentColor;
        animation-name: loader;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        border-radius: 100%;
        animation-timing-function: linear;
        pointer-events: none;
    }
    //Make Scrollio appear once initialized by JS
    &.scrollio-initialized {
        //Loader fallback waiting Scrollio to be loaded
        &:before {
            display: none;
        }
        #scrollio {
            opacity: 1;
        }
        &.scrollio-style-loaded {
            #scrollio {
                &>.item {
                    &>* {
                        visibility: visible;
                    }
                }
                //Optional introduction
                &>.intro {
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    #scrollio {
        opacity: 0;
        overflow: auto;
        height: 100vh;
        transition: opacity 600ms;
        //Words
        .word {
            display: inline-block;
            perspective: 1000px;
            //Letters
            .letter {
                position: relative;
                display: inline-block; //Important to apply transforms properly
                //Unread / Inactive letter properties
                color: lightgrey;
                &.active {
                    //Read / Active letter properties
                    color: black;
                }
                &.current {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        pointer-events: none;
                    }
                }
            }
            //Text ellipsis
            &.ellipsis {
                .letter {
                    &.active {
                    }
                    &.current {
                    }
                }
            }
        }
        //The item itself
        &>.item {
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            position: fixed;
            top: 0%;
            width: 100%;
            height: 100%;
            opacity: 0;
            box-sizing: border-box;
            text-align: center;
            transition: all 300ms; //Default: Transition duration on item leave
            will-change: transform, opacity, letter-spacing, text-shadow;
            transition-timing-function: linear;
            perspective: 500px;
            z-index: 10;
            pointer-events: none;
            &.active {
                z-index: 100;
                opacity: 1;
                // transition: all 1200ms; //Default Transition duration on item enter
                pointer-events: auto;
            }
            //Children markup inside items
            &>* {
                //Before fonts are loaded
                visibility: hidden;
                width: 100%; //Important for flex
            }
        }
        //An optional layer between content and body
        &>.overlay {
            position: fixed;
            top: -10vh;
            left: 0;
            height: 120vh;
            width: 100%;
            z-index: 1;
            opacity: 0.3; //Default: Opacity of the overlay
            background-color: black; //Default: Color of the overlay
            transition: all 2000ms; //Default: Transition duration of the overlay
        }
        //Optional global progress bar
        &>.progress-bar {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 3px;
            background-color: black;
            z-index: 10;
        }

        //Only for keepActive = true
        &.keep-active {
            &>.item {
                //Very first item, make first letter active
                &:first-child {
                    .word {
                        &:first-child {
                            .letter {
                                &:first-child {
                                    // color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
