[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e92b";
}
.icon-chevron-down:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-chevron-right:before {
  content: "\e930";
}
.icon-chevron-up:before {
  content: "\e931";
}
.icon-wishlist-empty:before {
  content: "\e977";
}
.icon-instagram:before {
  content: "\e97d";
}
.icon-close:before {
  content: "\ea02";
}
.icon-wishlist-full:before {
  content: "\e909";
}
.icon-add-to-cart:before {
  content: "\e908";
}
.icon-store:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-tape-measure:before {
  content: "\e90e";
}
.icon-glasses:before {
  content: "\e90f";
}
.icon-credit-card:before {
  content: "\e910";
}
.icon-burger:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e904";
}
.icon-aphael:before {
  content: "\e906";
}
.icon-shopping-cart:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest:before {
  content: "\ead1";
}
