$list-default-text-color:       currentColor;
$list-default-label-color:      my-color(brand);
$list-default-lines-color:      my-color(neutral, light);
$list-default-lines-width:      1px;
$list-default-stripes-color:    #eee;
$list-default-hspacing:         my-spacing(xs);
$list-default-vspacing:         my-spacing(xs);
$list-default-dt-typo:          caps;
$list-default-dt-color:         my-color(neutral);
$list-default-dt-font-size:     my-font-size(xs);
$list-default-dd-typo:          inherit;
$list-default-dd-color:         inherit;
$list-default-dd-font-size:     inherit;
dl,
ul {
    &.list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding-left: 0;
        color: $list-default-text-color;
        dt {
            width: 50%;
            color: $list-default-label-color;
            @include my-typography($list-default-dt-typo);
            font-size: $list-default-dt-font-size;
            color: $list-default-dt-color;
        }
        dd {
            width: 50%;
            margin: 0;
            padding-left: $list-default-hspacing;
            @include my-typography($list-default-dd-typo);
            font-size: $list-default-dd-font-size;
            color: $list-default-dd-color;
        }
        li {
            width: 100%;
        }
        /*
        *   Text alignment styleModifier
        */
        &.mod-left-right {
            dd {
                text-align: right;
                padding-left: $list-default-hspacing;
            }
        }
        /*
        *   Striped lines styleModifier
        */
        &.mod-striped {
            align-items: inherit;
            dt,
            dd,
            li {
                padding: $list-default-vspacing $list-default-hspacing;
                &:nth-of-type(odd) {
                    background-color: $list-default-stripes-color;
                }
            }
        }
        /*
        *   Striped lines styleModifier
        */
        &.mod-lines {
            align-items: inherit;
            dt,
            dd,
            li {
                padding: $list-default-vspacing 0;
                border-bottom: $list-default-lines-width solid $list-default-lines-color;
            }
            &.mod-striped {
                dt,
                dd,
                li {
                    padding: $list-default-vspacing $list-default-hspacing;
                }
            }
        }
    }
}
