$loader-width: 32;
$loader-height: 32;
$loader-duration: 1.2;
$loader-border-1-style: solid;
$loader-border-1-width: 4px;
$loader-border-1-color: my-color(brand);
$loader-border-2-style: solid;
$loader-border-2-width: 4px;
$loader-border-2-color: my-color(neutral, mid);

.loader {
    width: $loader-width+$ds-unit;
    height: $loader-height+$ds-unit;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    &:after,
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        animation-name: rotation;
        animation-duration: $loader-duration+s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        top: 0;
        left: 0;
    }
    &:after {
        border-top-style: $loader-border-1-style;
        border-top-width: $loader-border-1-width;
        border-top-color: $loader-border-1-color;
    }
    &:before {
        animation-duration: $loader-duration / 3+s;
        border-bottom-style: $loader-border-2-style;
        border-bottom-width: $loader-border-2-width;
        border-bottom-color: $loader-border-2-color;
        // border-bottom: my-border(main);
        // border-color: my-color(brand, hard);
    }
}
