$modal-default-shadow-color:                rgba(black, .2);
$modal-default-shadow-width:                20px;
$modal-default-shadow-position-x:           0px;
$modal-default-shadow-position-y:           0px;
$modal-default-max-height:                  90vh;
$modal-default-background-color:            my-color(neutral, max);
$modal-default-color:                       my-color(brand);
$modal-default-border-radius:               my-border-radius(0);
$modal-default-backdrop-color:              my-color(brand);
$modal-default-backdrop-opacity:            0.7;
$modal-default-close-button-fixed-spacing:  my-spacing(md);
$modal-default-widths: (
);

.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    transition: all 300ms;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    box-shadow: $modal-default-shadow-position-x $modal-default-shadow-position-y $modal-default-shadow-width 0px $modal-default-shadow-color;
    background-color: $modal-default-background-color;
    color: $modal-default-color;
    border-radius: $modal-default-border-radius;
    overflow: auto;
    max-height: $modal-default-max-height;
    &.mod-transparent {
        background-color: transparent;
    }
    &.mod-no-shadow {
        box-shadow: none;
    }
    // Close button
    [my-modal-close] {
        &[my-modal-close="fixed"] {
            position: fixed;
            top: $modal-default-close-button-fixed-spacing;
            right: $modal-default-close-button-fixed-spacing;
        }
    }
    &.mod-lightbox {
        &>img {
            max-width: 100vw;
            max-height: 90vh;
            width: auto;
            height: auto;
            display: block;
            margin: auto;
        }
        &.active {
            top: 5vh;
        }
    }

    /*
    *   Modal is enabled/visible
    */
    &.active {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        top: 10%;
        // transform: translateX(-50%) translateY(-50%);
    }
    @each $widthName, $value in $modal-default-widths {
        &.mod-w-#{$widthName} {
            max-width: 100%;
            width: $value;
        }
    }
}
.modal-backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 300ms;
    background-color: $modal-default-backdrop-color;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &.active {
        visibility: visible;
        pointer-events: auto;
        opacity: $modal-default-backdrop-opacity;
    }
    &.mod-transparent {
        background-color: transparent;
    }
}
