#main-search {
    &+label {
        transform: translateY(-50%);
    }
    &:focus,
    &.entered {
        &+label {
            opacity: 0;
        }
    }
}

#carousel {
    height: 0vh;
    opacity: 0;
    transition: all 300ms;
    &.initialized {
        height: 70vh;
        opacity: 1;
    }
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .slide {
            figure {
                transition: all 300ms;
                // opacity: 0.1;
                height: 70vh;
            }
            .grid {
                // opacity: 0.1;
                // transform: translateY(-20%);
                transition: all 300ms;
            }
            &.imgloaded {
                figure {
                    opacity: 1;
                }
                .grid {
                    // transform: translateY(0%);
                    opacity: 1;
                }
            }
        }
    }
}
@include my-screen-size(sm) {
    #carousel {
        height: 50vh;
        .owl-carousel {
            .slide {
                figure {
                    height: 50vh;
                }
            }
        }
    }
}

[class*="u-gradient-"] {
    position: relative;
    z-index: 8;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &.u-gradient-black {
        &:after {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,2d2d2d+99&0.3+0,0+32,0+67,0.7+100 */
            background: -moz-linear-gradient(top, rgba(45,45,45,0.7) 0%, rgba(45,45,45,0) 32%, rgba(45,45,45,0) 67%, rgba(45,45,45,0.7) 99%, rgba(45,45,45,0.7) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(45,45,45,0.7) 0%,rgba(45,45,45,0) 32%,rgba(45,45,45,0) 67%,rgba(45,45,45,0.7) 99%,rgba(45,45,45,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(45,45,45,0.7) 0%,rgba(45,45,45,0) 32%,rgba(45,45,45,0) 67%,rgba(45,45,45,0.7) 99%,rgba(45,45,45,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2d2d2d', endColorstr='#4d2d2d2d',GradientType=0 ); /* IE6-9 */
        }
    }
    &.u-gradient-white {
        &:after {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,2d2d2d+99&0.3+0,0+32,0+67,0.7+100 */
            background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 32%, rgba(255,255,255,0) 67%, rgba(255,255,255,0.7) 99%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 32%,rgba(255,255,255,0) 67%,rgba(255,255,255,0.7) 99%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 32%,rgba(255,255,255,0) 67%,rgba(255,255,255,0.7) 99%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-9 */
        }
    }
}

#top-categories {
    @include my-screen-size(sm) {
        .mod-ar-square {
            &>* {
                &:before {
                    padding-top: 52%;
                }
            }
        }
    }
}

figure {
    z-index: -10;
    &>img {
        transition: all 800ms;
    }
}

@include my-screen-size(md,lg,xl) {
    [my-toggle-name="filters-container"] {
        display: initial !important;
    }
}
