/**
* TOGGLES
*/
// The toggle
[my-toggle-name] {
    display: none;
    &.active {
        display: inherit;
    }

}
// The trigger
[my-toggle] {
    &[my-toggle-options*="icon-rotate"] {
        &>[class*="icon-"] {
            transition: all 300ms;
        }
    }
    &[my-toggle-options*="icon-toggle"] {
        &>[class*="icon-"] {
            &:last-child {
                display: none;
            }
        }
    }
    &.active {
        &[my-toggle-options*="icon-rotate"] {
            &>[class*="icon-"] {
                transform: rotate(180deg);
            }
        }
        &[my-toggle-options*="icon-toggle"] {
            &>[class*="icon-"] {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: inherit;
                }
            }
        }
    }
}
