/*
    TEXT TRANSFORMS UTILITIES
*/
.u-text-ellipsis {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}
.u-text-capitalize {
    text-transform: capitalize !important;
}
.u-text-normal {
    text-transform: none !important;
}
.u-text-break-anywhere {
    overflow-wrap: anywhere !important;
}
.u-text-decoration-none {
    text-decoration: none !important;
}
.u-text-stroke {
    text-decoration: line-through !important;
}
