<!-- <div class="breadcrumbs">
    <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{ site.baseurl }}" class="link-breadcrumb">Home</a>
        </li>
{% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
        <li class="separator">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</li>
    {% else %}
        <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
            {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
        </li>
    {% endif %}
{% endfor %}
    </ol>
</div> -->
