<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}{% endif %}">
{%- include favicons.html -%}
{%- include social-metatags.html -%}
{%- include common-css.html -%}

{% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/css/{{ stylesheet }}">
{% endfor %}
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/js/jquery/jquery-3.4.0.min.js"></script>
</head>
