{% assign sorted_pages = site.html_pages | sort: "order" %}
{% for sorted_page in sorted_pages %}
    {% if sorted_page.name != '404.html' and sorted_page.name != 'search.md' and sorted_page.url != '/' and sorted_page.layout != 'iframe' %}
    {% assign index = sorted_page.url | split:"/" %}
    {% assign depth = index.size %}
    <li class="item">
        <a  href="{% if sorted_page.offline != true %}{{ sorted_page.url | relative_url }}{% else %}#{% endif %}"
            class="btn mod-block mod-xs sg-ta-right sg-brtr-none sg-brbr-none {% if page.title == sorted_page.title %}active{% endif %} {% if sorted_page.offline == true %}disabled{% endif %}">
            {{ sorted_page.title }}
        </a>
    </li>
    {% endif %}
{% endfor %}
