{% assign page_paths = site.pages %}
<nav class="row mod-ha-right mod-va-middle" id="sidebar">
    <ul class="sg-list mod-reset" sg-m-none="xs, sm, md">
        <li class="item">
            <a rel="author" href="{{ '/' | relative_url }}" class="btn sg-fs-lg mod-xs mod-block sg-ta-right" sg-fs-xs="xs, sm, md">
    {% if site.logo %}
                <!-- With logo -->
                <img src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/img/{{ site.logo }}" alt="logo">
                <span>{{ site.title | escape }}</span>
    {% else %}
                <!-- Without logo -->
                <span>{{ site.title | escape }}</span>
    {% endif %}
            </a>
        </li>
    </ul>

    <input type="checkbox" id="menutoggle">
    <label for="menutoggle">
        <span>
            <span></span>
            <span></span>
        </span>
    </label>
    <div class="mod-w-12">
{% if page_paths %}
        <ul class="sg-list mod-reset sg-mt-none">
            <li class="item sg-pr-md sg-mb-xs">
                <form action="{{ '/search.html' | relative_url }}" method="get">
                    <input type="text" id="search-box" name="query" placeholder="Search">
                    <input type="submit" value="Search" class="sg-none">
                </form>
            </li>
        </ul>
        <p class="sg-m-none" id="pages">
            {% include menu-basic.html %}
        </p>
{% endif %}
    </div>
</nav>
