/*
    USER SETTINGS
    This file contains all the required paramaters for Matryoshka
*/

/*
    UNIT
    @type SASS string https://sass-lang.com/documentation/file.SASS_REFERENCE.html#strings
    The unit that will be used by default
*/
$ds-unit: px;

/*
    COLORS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Define main colors
    * Enter any name as main color name
    * yourColorName: CSS color value
    * https://developer.mozilla.org/en-US/docs/Web/CSS/color_value
    * $ds-colors: (
    *     auto-color-family-name: #1234ef,
    *     custom-reference-family-name: (
    *         0:              #12345ef,  // "0" is the reference color
    *         colorName1:     red,
    *         colorName2:     hsl(50, 10%, 50%),
    *         colorName3:     rgba(0, 10, 25, .8)
    *     ),
    *     simple-color-group-name: (
    *         colorName1:     darkred,
    *         colorName2:     orange,
    *         colorName3:     yellow
    *     )
    * );

    @format [nameOfTheColorFamily]: CSS color or SASS map
*/
$ds-colors: (
    brand: (
        0:              #2d2d2d,
        max:            #ffffff
    ),
    primary: (
        0:              #4500ff,
        max:            #ffffff
    ),
    secondary: (
        0:              #18ffb9,
        max:            #2d2d2d
    ),
    ternary: (
        0:              #f8b0df,
        max:            #2d2d2d
    ),
    neutral: (
        max:            #ffffff,
        lighter:        #f3f6f7,
        light:          #f0f0f0,
        midlighter:     #c9cccd,
        mid:            #888888,
        dark:           #6d6f6a,
        min:            #000000
    ),
    danger:             #e90d41,
    filters: (
        'blue':         #006fff,
        'white':        #ffffff,
        'grey':         #888888,
        'yellow':       #e0c201,
        'brown':        #5f3321,
        'black':        #000000,
        'orange':       #ec6e0f,
        'pink':         #ec0f95,
        'red':          #e61043,
        'green':        #0cab38,
        'purple':       #7207d6
    )
);

/*
    CONTRASTS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Useful for automatic contrast adjustments
    Matryoshka automatically computes color combinations
    from your main colors defined in $ds-colors.
    The contrasts parameter defines a set of
    contrasts combinations to apply on each main color.
    * Enter any name as contrast name
    * Values must be integer between -100 and +100
    * Value = 0 returns the same color as input
    * Value = -100 and value = 100 always return black or white colors
    * Value = 100 returns WHITE if the input color luminance is below or equal 50%
    * Value = 100 returns BLACK if the input color luminance is above 50%
    * Value = -100 returns WHITE if the input color luminance is above 50%
    * Value = -100 returns BLACK if the input color luminance is below or equal 50%
    @format [nameOfTheContrast]: [number]
*/
$ds-contrasts: (
    max: 100
);

/*
    LUMINANCE METHOD
    @type SASS number https://sass-lang.com/documentation/file.SASS_REFERENCE.html#data_types
    Define the default method used to compute color combinations
    Possible values:
    1: Weighted Euclidean Distance in 3D RGB Space http://alienryderflex.com/hsp.html
    2: W3C recommandation https://www.w3.org/TR/AERT/#color-contrast
    3: Luma sRGB https://en.wikipedia.org/wiki/Rec._709
*/
$ds-luminance-method: 3;

/*
    LUMINANCE THRESHOLD
    @type SASS number https://sass-lang.com/documentation/file.SASS_REFERENCE.html#data_types
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Define the luminance threshold between light and dark.
    Float value between 0 and 1
*/
$ds-luminance-threshold: 0.5;

/*
    SCREEN SIZES
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter any amount of break point names and values
    to build your own screen sizes.
    Use semantic names, easy to remenber and to use, they are used to name your CSS classes utilities.
    Always use 'infinite' as value for the largest screen
    Example
    $ds-screen-sizes: (
        mini:   450,
        large:  960,
        wide:   infinite // Always 'infinite' for the last
    );
    @format [nameOfTheScreenSize]: [number] or 'infinite' for the largest/last
*/
$ds-screen-sizes: (
    sm: 768,
    md: 1024,
    lg: 1440,
    xl: infinite
);

/*
    FONTS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter the fonts for your project.
    Example:
    3 possibilities:
    * Google Font
    * Local font
    * Websafe font
    @format [customFontFamilyName]: (
        // settings according to the type
    )
*/
$ds-fonts: (
    extrabold: (
        type:        'google',
        name:        'Montserrat',
        weight:      'Extra-Bold',
        fallback:    'sans-serif'
    ),
    bold: (
        type:        'google',
        name:        'Montserrat',
        weight:      'Bold',
        fallback:    'sans-serif'
    ),
    semibold: (
        type:        'google',
        name:        'Montserrat',
        weight:      'Semi-Bold',
        fallback:    'sans-serif'
    ),
    regular: (
        type:        'google',
        name:        'Montserrat',
        weight:      'Regular',
        fallback:    'sans-serif'
    ),
    light: (
        type:        'google',
        name:        'Montserrat',
        weight:      'Light',
        fallback:    'sans-serif'
    ),
    icons: (
        type:        'local',
        name:        'icomoon',
        path:        '../fonts/icomoon/fonts/',
        fallback:    ''
    )
);

/*
    DO NOT EDIT BOOT
*/
@import '../engine/boot';

/*
    FONT SIZES
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter the font sizes for your project.
    @format [nameOfTheFontSize]: [number]
*/
$ds-font-sizes: (
    xxs:    9,
    xs:     10,
    sm3:    11,
    sm2:    12,
    sm:     14,
    md:     16,
    lg:     20,
    lg2:    25,
    lg3:    30,
    xl:     40,
    xxl:    70
);

/*
    TYPOGRAPHY
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter the typgraphy declarations.
    You can enter any amount of CSS property.
    @format [nameOfTheFontSize]: [number]
    For font-family: Use $ds-fonts names
    For font-size: Use $ds-font-sizes names
    For color, background-color: Use $ds-colors names
*/
$ds-typography: (
    headline: (
        font-family:        extrabold,
        line-height:        0.93em,
        text-transform:     uppercase
    ),
    heading: (
        font-family:        bold,
        text-transform:     uppercase
    ),
    subheading: (
        font-family:        semibold,
        text-transform:     uppercase
    ),
    standard: (
        font-family:        regular,
        text-transform:     none
    ),
    light: (
        font-family:        light,
        text-transform:     none
    ),
    caption: (
        font-family:        semibold,
        text-transform:     none
    ),
    micro: (
        font-family:        regular,
        text-transform:     uppercase
    )
);

/*
    SPACINGS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter all the spacings that will be used into your project
    @format [customNameOfTheFontSize]: [number]
*/
$ds-spacings: (
    none:   0,
    xxs:    8,
    xs:     12,
    sm:     16,
    md:     30,
    lg:     40,
    xl:     70,
    xxl:    120
);

/*
    BORDERS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter your borders CSS shorthands
    @format [customBorderName]: CSS border shorthand that contains
    * my-border-style([borderStyleName])
    * my-border-width([borderWidthName])
    * my-border-color([borderColorName])
*/
$ds-borders: (
    heavysecondary:     3px solid my-color(secondary),
    heavylight:         3px solid my-color(neutral, light),
    thinlight:          1px solid my-color(neutral, light),
    thinmidlighter:     1px solid my-color(neutral, midlighter),
    thindark:           1px solid my-color(neutral, dark),
    regulardark:        2px solid my-color(brand)
);

/*
    BORDER RADIUS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Enter your border radius amounts
    @format [customBorderRadiusName]: [number]
*/
$ds-border-radius: (
    0: 0,
    1: 8,
    2: 12,
    3: 24,
    4: 256
);
