/*
* Scrollshow core SCSS - Required
*/
body {
    // opacity: 0;
    //Make scrollbars always visible to avoid ugly content move on init
    overflow-y: scroll;
    //Make Scrollio appear once initialized by JS
    &.scrollio-initialized {
        #scrollio {
            // opacity: 1;
        }
        &.scrollio-style-loaded {
            // opacity: 1;
            #scrollio {
                &>.item {
                    &>* {
                        // visibility: visible;
                    }
                }
            }
        }
    }
    #scrollio {
        // opacity: 0;
        overflow: auto;
        height: 100vh;
        // transition: opacity 600ms;
        //Words
        .word {
            display: inline-block;
            perspective: 1000px;
            //Letters
            .letter {
                opacity: 0;
                position: relative;
                display: inline-block; //Important to apply transforms properly
                //Unread / Inactive letter properties
                color: lightgrey;
                &.active {
                    //Read / Active letter properties
                    color: black;
                }
                &.current {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        pointer-events: none;
                    }
                }
            }
            //Text ellipsis
            &.ellipsis {
                .letter {
                    &.active {
                    }
                    &.current {
                    }
                }
            }
        }
        //The item itself
        &>.item {
            display: flex;
            align-items: center; // Horizontal
            justify-content: center; // Vertical
            flex-wrap: wrap;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            opacity: 0;
            box-sizing: border-box;
            text-align: center;
            // transition: all 300ms; //Default: Transition duration on item leave
            will-change: transform, opacity, letter-spacing, text-shadow;
            transition-timing-function: linear;
            perspective: 500px;
            z-index: 10;
            pointer-events: none;
            &.active {
                z-index: 100;
                opacity: 1;
                // transition: all 1200ms; //Default Transition duration on item enter
                pointer-events: auto;
            }
            //Children markup inside items
            &>* {
                //Before fonts are loaded
                // visibility: hidden;
                // width: 100%;
                position: relative;
                margin: 0;
            }
        }
        //An optional layer between content and body
        &>.overlay {
            position: fixed;
            top: -10vh;
            left: 0;
            height: 120vh;
            width: 100%;
            z-index: 1;
            // opacity: 0.3; //Default: Opacity of the overlay
            // background-color: black; //Default: Color of the overlay
            // transition: all 2000ms; //Default: Transition duration of the overlay
        }
        //Optional global progress bar
        &>.progress-bar {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 3px;
            background-color: black;
            z-index: 100;
        }

        //Disable cross fade between items to optimize performances
        &.performance-mode {
            &>.item {
                display: none;
                &.active {
                    display: flex;
                }
            }
        }

        //Only for keepActive = true
        &.keep-active {
            &>.item {
                //Very first item, make first letter active
                &:first-child {
                    .word {
                        &:first-child {
                            .letter {
                                &:first-child {
                                    // color: black;
                                }
                            }
                        }
                    }
                }
            }
        }

        //Horizontal alignment
        &.halign-left {
            &>.item {
                justify-content: flex-start;
            }
        }
        &.halign-center {
            &>.item {
                justify-content: center;
            }
        }
        &.halign-right {
            &>.item {
                justify-content: flex-end;
            }
        }

        //Vertical alignment
        &.valign-top {
            &>.item {
                align-items: flex-start;
            }
        }
        &.valign-middle {
            &>.item {
                align-items: center;
            }
        }
        &.valign-bottom {
            &>.item {
                align-items: flex-end;
            }
        }

        //Text alignment
        &.talign-left {
            &>.item {
                text-align: left;
            }
        }
        &.talign-center {
            &>.item {
                text-align: center;
            }
        }
        &.talign-right {
            &>.item {
                text-align: right;
            }
        }
    }
}
