table {
    th {
        padding: my-spacing(xs);
        text-align: left;
        @include my-typography(lead);
        border-bottom: my-border(solidAndThin);
        font-size: my-font-size(xs);
    }
    td {
        padding: my-spacing(xs);
        border-bottom: my-border(solidAndThin);
    }
}
