/*
    FONT SIZES UTILITIES
*/
@each $name, $value in $ds-font-sizes {
    .sg-fs-#{$name} {
        font-size: $value + $ds-unit !important;
        line-height: 1.5em !important;
    }
}
@each $screen-size, $v in $ds-screen-sizes {
    @include my-screen-size($screen-size) {
        @each $name, $value in $ds-font-sizes {
            .sg-fs-#{$name}-#{$screen-size},
            [sg-fs-#{$name}*="#{$screen-size}"] {
                font-size: $value + $ds-unit !important;
                line-height: 1.5em !important;
            }
        }
    }
}
