/*
    RESPONSIVE DISPLAY UTILITIES
*/
[sg-visible],
[class*="sg-visible-"],
.sg-none,
.sg-hidden {
    display: none !important;
}
@each $screen-size, $v in $ds-screen-sizes {
    @include my-screen-size($screen-size) {
        .sg-visible-#{$screen-size},
        [sg-visible*="#{$screen-size}"] {
            display: initial !important;
        }
        .sg-hidden-#{$screen-size},
        [sg-hidden*="#{$screen-size}"] {
            display: none !important;
        }
    }
}
