/*
    TEXT ALIGNMENTS UTILITIES
*/
$textAlignments: left, center, right;
@each $alignment in $textAlignments {
    .sg-ta-#{$alignment} {
        text-align: $alignment !important;
    }
}
@each $screen-size, $v in $ds-screen-sizes {
    @include my-screen-size($screen-size) {
        @each $alignment in $textAlignments {
            .sg-ta-#{$alignment}-#{$screen-size},
            [sg-ta-#{$alignment}*="#{$screen-size}"] {
                text-align: $alignment !important;
            }
        }
    }
}
