<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}{% endif %} ">
        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/css/normalize.css">
        <!-- Scrollio required stylesheet -->
        <link href="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/css/full.css" rel="stylesheet">
    </head>
    <body>
        <div id="scrollio">
            {{ content }}
        </div>
        <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/js/jquery/jquery-3.4.0.min.js"></script>

        <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/js/scrollio/scrollio.js"></script>
        <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/js/scrollio/plugins/scrollio.plugin.dynamic.background.js"></script>
        <!-- <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/js/scrollio/plugins/scrollio.plugin.fullscreen.js"></script>
        <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}{{ site.assets_dir }}/js/scrollio/plugins/scrollio.plugin.links.js"></script> -->
        <script type="text/javascript">
            //Defaults parameters
            var defaultParameters = {
                //ID if the main Scrollio wrapper
                id:                     'scrollio',
                //Amount of pixels scrolled per item
                scrollRange:            2000,
                //Once scrolled, letters keep active CSS class
                keepActive:             true,
                //Sentence prefix, add a permanent HTML that is not scrolled
                sentencePrefix:         '> ',
                //Item padding in % of width
                itemPadding:            10,
                // Position of the item (top, middle, bottom)
                itemPosition:           'middle',
                // Alignment of the item (left, center, right)
                itemAlignment:          'center',
                // Alignment of the text into its item
                textAlignment:          'center',
                //Cross fade duration between items in ms.
                //itemFadeDuration = 0 optimizes global performances
                itemFadeDuration:       500,
                //String displayed at the end of each text to scroll
                textEllipsis:           '...',
                //Line height in em
                textLineHeight:         1.8,
                //Transition duration between letter states in ms
                textTransitionDuration: 300,
                textOpacityOff:         0.1,
                textOpacityOn:          1,
                //Google Font name
                //Or Web safe font name:
                //'Arial','Helvetica','Courier New','Georgia',
                //'Times New Roman','Verdana','serif','sans-serif',
                //'monospace','cursive','fantasy'
                fontFamily:             'Cutive Mono',
                //Font weight (applicable only for Google Fonts)
                fontWeight:             '',
                //Font overlap amount in em
                fontOverlapAmount:      -0.1,
                //Each letter is under the previous
                fontOverlapUnder:       true,
                //Display the progress bar
                progressBar:            true,
                //Display overlay between items and body background
                overlay:                true,
                //Automatic font size
                //Adjust each item font size according to the amount of characters
                //and the screen size. Overrides responsive font sizes
                fontSizeAuto:           false,
                //Responsive font size in pixels for Extra-Large devices
                fontSizeXL:             42,
                //Responsive font size in pixels for Large devices
                fontSizeLG:             38,
                //Responsive font size in pixels for Medium devices
                fontSizeMD:             32,
                //Responsive font size in pixels for Small devices
                fontSizeSM:             28,
                //Responsive font size in pixels for Extra-Small devices
                fontSizeXS:             24,
                //Responsive break point in pixels between large and extra-large
                breakPointLG_XL:        1200,
                //Responsive break point in pixels between medium and large
                breakPointMD_LG:        992,
                //Responsive break point in pixels between small and medium
                breakPointSM_MD:        768,
                //Responsive break point in pixels between extra-small and small
                breakPointXS_SM:        575,
                //Enable/disable style overrides. Quickly remove all styles overrides
                //For testing and debug purpose.
                styleOverrides:         true,
                //@keyframes animations declarations that have to be used into the custom CSS
                animationsCSS:          {
                    'cursor': {
                        '0%': 'opacity: 0',
                        '100%': 'opacity: 1'
                    },
                    'letterAnim': {
                        '0%': 'opacity: 1; filter: none; transform: scale(1)',
                        '45%': 'opacity: 1; filter: none; transform: scale(1)',
                        '50%': 'opacity: 0.8; filter: blur(1px); transform: scale(0.97)',
                        '55%': 'opacity: 1; filter: none; transform: scale(1)',
                        '100%': 'opacity: 1; filter: none; transform: scale(1)'
                    }
                },
                //CSS overrides of scrolled text BEFORE Scrollio initialization
                sentenceBeforeInitCSS:  {
                },
                //CSS overrides of scrolled text AFTER Scrollio initialization
                sentenceAfterInitCSS:   {
                },
                //CSS overrides of page body
                bodyCSS:                {
                    'background-color': '#0f420f',
                    'background-image': 'url("https://i.postimg.cc/FKh1mrw0/matrix-code.jpg")',
                    'background-size': 'cover',
                    'background-position': 'center',
                    'background-attachment': 'fixed'
                },
                //CSS overrides of Scrollio container
                scrollioContainerCSS:   {
                },
                //CSS overrides of an inactive item
                itemDefaultCSS:         {
                    'padding': '1em',
                },
                //CSS overrides of an active item
                itemActiveCSS:          {
                },
                //CSS overrides of the whole scrolled text sentence
                sentenceCSS:            {
                },
                //CSS overrides of a word
                wordCSS:                {
                },
                //CSS overrides of a letter not scrolled yet
                letterDefaultCSS:       {
                    'color': 'white',
                    // DO NOT INCLUDE 'transition' property managed by 'textTransitionDuration'
                    // DO NOT INCLUDE 'opacity' property managed by 'textOpacityOff'
                    'text-shadow': '0.07em 0.01em 0.1em rgba(0,0,0,.5)',
                    'transform': 'translateX(-0.1em) translateY(0px)',
                    'text-shadow': '1px 5px 5px green,1px -5px 5px green, 5px 0px 5px green,-5px 0px 5px green',
                    'font-weight': 'bold'
                },
                //CSS overrides of a scrolled or currently scrolled letter
                letterActiveCSS:        {
                    // DO NOT INCLUDE 'transition' property managed by 'textTransitionDuration'
                    // DO NOT INCLUDE 'opacity' property managed by 'textOpacityOn'
                    'transform': 'translateX(0px)  translateY(0px)',
                    'color': 'white',
                    'animation-name': 'letterAnim', //Declared into g_parameters.animationsCSS
                    'animation-duration': '3s',
                    'animation-iteration-count': 'infinite'
                },
                //CSS overrides of the currently scrolled letter
                letterCurrentCSS:       {
                    // DO NOT INCLUDE 'transition' property managed by 'textTransitionDuration'
                },
                //CSS overrides of the cursor included only into currently scrolled letter
                cursorCSS:              {
                    'top': '0px',
                    'right': '0px',
                    'width': '2px',
                    'height': '50%',
                    'top': '50%',
                    'transform': 'translateY(-50%)',
                    'background-color': 'white',
                    'animation-name': 'cursor', //Declared into g_parameters.animationsCSS
                    'animation-duration': '600ms',
                    'animation-iteration-count': 'infinite',
                    'animation-direction': 'alternate',
                    'box-shadow': '1px 5px 5px green,1px -5px 5px green, 5px 0px 5px green,-5px 0px 5px green'
                },
                //CSS overrides of the entire ellipsis word
                ellipsisWordCSS:     {

                },
                //CSS overrides of an ellipsis character not scrolled yet
                ellipsisDefaultCSS:     {

                },
                //CSS overrides of an ellipsis scrolled or currently scrolled
                ellipsisActiveCSS:      {

                },
                //CSS overrides of the ellipsis currently scrolled character
                ellipsisCurrentCSS:     {

                },
                //CSS overrides of the progress bar
                progressBarCSS:         {
                    'background-color': 'white'
                },
                //CSS overrides of the overlay layer
                overlayCSS:             {
                    'opacity': '1',
                    'background': 'radial-gradient(ellipse at top, transparent, #000000)'
                },
                //Callback on Scrollio initialization
                onInit:                 function(e){},
                //Callback on item change
                onItemChange:           function(e){},
                //Callback on letter change
                onLetterChange:         function(e){},
                //Callback on scroll
                onScroll:               function(e){},
                //Callback on item end
                onItemEnd:              function(e){},
                //Callback on first item
                onFirstItem:            function(e){},
                //Callback on last item
                onLastItem:             function(e){},
                //Callback on scroll end
                onScrollEnd:            function(e){}
            };
            var finalParameters = defaultParameters;
            document.addEventListener("DOMContentLoaded", function(event) {
                //console.log("DOM fully loaded and parsed");

                var fullUrl = window.location.href;
                hash = fullUrl.split('?');
                var stringifiedSentObject = atob(hash[1]);
                var sentObject = JSON.parse(stringifiedSentObject);
                var wrapper = document.getElementById('scrollio');
                console.log('reçu:',sentObject);
                sentObject.content.forEach(function(data) {
                    // console.log('item text:'+data.text);
                    // console.log('item options:'+data.options);
                    // Check plugins
                    var dynamicBackgroundMarkup = '';
                    if (data.options.length > 0) {
                        // Loop item options
                        for (var index in data.options) {
                            if (data.options.hasOwnProperty(index)) {
                                // Item options must be an array of objects
                                if (typeof data.options[index] == 'object') {
                                    // Must have a key called 'name'
                                    if (typeof data.options[index]['name'] == 'string') {
                                        // Dynamic background ?
                                        if (data.options[index]['name'] == 'dynamicBackground') {
                                            dynamicBackgroundMarkup += 'data-dynamic-background="'+data.options[index]['value']+'"';
                                        }
                                    }
                                }
                            }
                        }
                    }
                    jQuery('#scrollio').append(
                        '<div class="item" '+dynamicBackgroundMarkup+'>'+
                            '<p class="scrolltrack">'+data.text+'</p>'+
                        '</div>'
                    );
                });
                // window.scrollioAPI.dynamicBackground.jQ_items = jQuery('#scrollio>.item');
                // Manage parameters
                for (var param in sentObject.options) {
                    // If standard Scrollio param
                    if (sentObject.options.hasOwnProperty(param)) {
                        // console.log(param,sentObject.options[param]);
                        if (sentObject.options.hasOwnProperty(param)) {
                            finalParameters[param] = sentObject.options[param];
                        }
                    }
                }

                // wrapper.innerHTML = sentObject.content;
                jQuery.fn.scrollio(finalParameters);
            });
        </script>

    </body>
</html>
