body {
    #scrollio {
        font-family: qtr-font-family(1);
        font-size: qtr-font-size();
        line-height: 1.5em;
        .font-size-1 {
            font-size: qtr-font-size();
        }
        .font-size-2 {
            font-size: qtr-font-size(1);
        }
        .font-size-3 {
            font-size: qtr-font-size(2);
        }
        .font-size-4 {
            font-size: qtr-font-size(3);
        }
        .font-size-5 {
            font-size: qtr-font-size(4);
        }
        .font-size-6 {
            font-size: qtr-font-size(5);
        }
        .font-size-7 {
            font-size: qtr-font-size(6);
        }
        @include qtr-screen(xs){
            .font-size-1 {
                font-size: qtr-font-size(-4);
            }
            .font-size-2 {
                font-size: qtr-font-size(-3);
            }
            .font-size-3 {
                font-size: qtr-font-size(-2);
            }
            .font-size-4 {
                font-size: qtr-font-size(-1);
            }
            .font-size-5 {
                font-size: qtr-font-size();
            }
            .font-size-6 {
                font-size: qtr-font-size(1);
            }
            .font-size-7 {
                font-size: qtr-font-size(2);
            }
        }
        @include qtr-screen(sm){
            .font-size-1 {
                font-size: qtr-font-size(-3);
            }
            .font-size-2 {
                font-size: qtr-font-size(-2);
            }
            .font-size-3 {
                font-size: qtr-font-size(-1);
            }
            .font-size-4 {
                font-size: qtr-font-size();
            }
            .font-size-5 {
                font-size: qtr-font-size(1);
            }
            .font-size-6 {
                font-size: qtr-font-size(2);
            }
            .font-size-7 {
                font-size: qtr-font-size(3);
            }
        }
        @include qtr-screen(md){
            .font-size-1 {
                font-size: qtr-font-size(-2);
            }
            .font-size-2 {
                font-size: qtr-font-size(-1);
            }
            .font-size-3 {
                font-size: qtr-font-size();
            }
            .font-size-4 {
                font-size: qtr-font-size(1);
            }
            .font-size-5 {
                font-size: qtr-font-size(2);
            }
            .font-size-6 {
                font-size: qtr-font-size(3);
            }
            .font-size-7 {
                font-size: qtr-font-size(4);
            }
        }
        @include qtr-screen(lg){
            .font-size-1 {
                font-size: qtr-font-size(-1);
            }
            .font-size-2 {
                font-size: qtr-font-size();
            }
            .font-size-3 {
                font-size: qtr-font-size(1);
            }
            .font-size-4 {
                font-size: qtr-font-size(2);
            }
            .font-size-5 {
                font-size: qtr-font-size(3);
            }
            .font-size-6 {
                font-size: qtr-font-size(4);
            }
            .font-size-7 {
                font-size: qtr-font-size(5);
            }
        }
    }
}
