<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Scrollio view</title>
    <meta name="description" content="A message for you from Scrollio.">
    <!-- Reset CSS -->
    <link href="../libraries/normalize/normalize.min.css" rel="stylesheet">
    <!-- Scrollio core -->
    <link href="../build/scrollio.min.css" rel="stylesheet">
    <!-- Scrollio Theme -->
    <link href="../build/scrollio.theme.venus.min.css" rel="stylesheet">
</head>

<body>

    <!-- jQuery -->
    <script type="text/javascript" src="../libraries/jquery/jquery-3.3.1.min.js"></script>
    <!-- Scrollio lib -->
    <script type="text/javascript" src="../build/scrollio.min.js"></script>
    <!-- Clipboard.js lib -->
    <script type="text/javascript" src="../libraries/clipboard.js/clipboard.min.js"></script>
    <!-- Initialize -->
    <script type="text/javascript">
        //Initialize viewer parameters object
        var viewerParameters = {};
        //Initialize Scrollio with viewer parameters
        jQuery.fn.scrollio(viewerParameters);

        //Check hash validity
        var isBase64 = function(str){
            try {
                return btoa(atob(str)) == str;
            } catch (err) {
                return false;
            }
        }
        //Decode Scrollio URL
        var decode = function(){
            //Get the URL hash
            var theHash = window.location.hash;
            //If not empty
            if(theHash != ''){
                //Remove hashtag
                var encodedHash = theHash.replace('#','');
                //Check if valid base64
                if(isBase64(encodedHash)){
                    //Decode hash
                    var decodedString = window.atob(encodedHash);
                    //Parse JSON
                    var objRecognized = JSON.parse(decodedString);
                    // console.log(objRecognized);
                    //Check if it is an object
                    if(typeof objRecognized == 'object'){
                        //Build a new Scrollio instance
                        jQuery('body').append('<div id="scrollio"></div>');
                        var jQ_scrollio = jQuery('#scrollio');
                        for (var i = 0; i < Object.keys(objRecognized).length; i++) {
                            //if it is a string, it is content
                            if(typeof objRecognized[i] == 'string'){
                                //Include item with its content
                                jQ_scrollio.append(
                                    '<div class="item">'+
                                        '<p>'+objRecognized[i]+'</p>'+
                                    '</div>'
                                );
                            }
                        }
                        //If options object
                        if(typeof objRecognized.options == 'object'){
                            //Manage options parameters
                            var userProperties = Object.getOwnPropertyNames(objRecognized.options);
                            //Replace each parameter by its new value
                            userProperties.forEach(function(property){
                                viewerParameters[property] = objRecognized.options[property];
                            });
                        }
                        if(Object.getOwnPropertyNames(objRecognized.options).length > 0){
                            console.log('Here are the parameters overridden:');
                            console.log(viewerParameters);
                        }else{
                            console.log('Scrollio with default parameters');
                        }
                        //Build jQuery Scrollio
                        jQuery.fn.scrollio(viewerParameters);

                    }
                }else{
                    alert('invalid Scrollio URL');
                }
            }
        }
        decode();
        //Clipboard management
        // var clipboard = new ClipboardJS('button[name="copy-link"]');
        // clipboard.on('success', function(e) {
        //     alert(e);
        //     e.clearSelection();
        // });
    </script>
</body>

</html>
